@media(max-width:1200px){
    .slideshow .slick-dots{
        top: 25%;
    }
    .slideshow-text{
        width: 35%;
    }
    footer h2{
        font-size: 26px;
    }
    footer .line{
        width: 100%;
    }
    footer .semi-col{
        margin-top: 6.5%;
    }
    footer p{
        width: 100%;
    }
    /*about page*/
    header .banner h1{
        right: 5%;
        top: 25%;
        font-size: 90px;
    }
    main #about_us .info_row h1{
        width: 100%;
        margin-top: 0;
    }
    main #about_us .info_row p{
        width: 100%;
    }
}
@media(max-width:1024px){

}
@media(max-width:992px){
    header nav ul{
        position: fixed;
        right: 0;
        background-color: #161616;
        width: 300px;
        height: 100vh;
        align-items: center;
        padding-top: 15%;
        z-index: 5;
    }
    .slideshow .slider .item{
        height: 85vh;
    }
    .slideshow , .slideshow .slider  {
        height: 62vh !important;
    }
    .slideshow .slick-dots{
        top:40%;
    }
    .slideshow-text{
        width: 45%;
    }
    main #about .row{
        flex-direction: column-reverse;
    }
    #about .text_col{
        text-align: center;
        margin: 0 0 10% 0;
    }
    main #about .row .img_col{
        margin:  0 auto;
    }
    main #categories .categories_row div{
        margin-bottom: 3%;
    }
    main #categories .categories_row h2{
        font-size: 25px;
    }

    main #reviews .image_col{
        display: none;
    }
    footer .social{
        margin-left: 65%;
    }
    footer .semi-col{
        text-align: center;
    }
    footer .semi-col .pages a{
        text-align: center;
    }
    /*about page*/
    header .banner h1{
        font-size: 80px;
    }
    main #about_us .info_row img{
        display: none;
    }
    main #about_us .info_row h1{
        text-align: center;
    }
    main #about_us .info_row p{
        text-align: justify;
    }
}
@media(max-width:768px){
    /* .slick-list{
        height: 66px !important;
    } */
    .slideshow .slider .item img{
        width: 25%;
    }
    .slideshow .slider .item{
        height: 75vh;
    }
    .slideshow-text{
        font-size: 75px;
        width: 60%;
    }
    main #categories .categories_row div{
        margin: 3% auto;
    }
    #reviews .review_col .carousel .carousel-inner{
        width: 80% !important;
    }
    .carousel-control-next, .carousel-control-prev{
        width: 5%;
    }
    main #receipes .recipe_row div{
        margin:  0 auto;
    }
    /*about page*/
    header .banner h1{
        font-size: 70px;
    }
    main #team .chef_row div {
        margin: 0 auto;
    }
}
@media(max-width:576px){
    header {
        height: 75vh;
    }
    .slideshow , .slideshow .slider  {
        height: 50vh !important;
    }
    .slideshow .slider .item{
        height: 50vh;
    }
    h1{
        font-size: 35px;
    }
    #daily_offer .offer_row .box-bord{
        padding: 50px 35px;
    }
    #contact .contact_row a, p{
        font-size: 18px;
    }
    footer .social{
        margin-left:50% ;
    }
    /*about page*/
    header .banner h1{
        font-size: 55px;
    }
    main #counter{
        height: 895px;
    }
    main #counter .row div{
        margin: auto;
    }
}
@media(max-width:480px){
    header .banner{
        margin-top: 80px;
    }
    .slideshow-text{
        font-size: 60px;
        width: 90%;
    }
    .navbar-brand img{
        width: 60px;
    }
    h1{
        font-size: 30px;
    }
    p{
        font-size: 17px;
    }
    #daily_offer .offer_row .box-bord{
        padding: 35px 25px;
    }
    #reviews .review_col .carousel .carousel-inner .carousel-item img{
        width: 70px;
    }
    #receipes .recipe_row .card .card-text{
        font-size: 17px;
    }
    footer .social{
        margin-left: 30%;
    }
    /*about page*/
    header .banner h1{
        font-size: 45px;
    }
}
@media (max-width:350px){
    h1{
        font-size: 25px;
    }
    p{
        font-size: 16px;
    }
    #daily_offer .offer_row .box-bord{
        padding: 30px 10px;
    }
    .offer_row .list .box .img{
        width: 90px;
    }
    .offer_row .list .box .text{
        padding-left: 15px;
    }
    footer .social{
        margin-left: 10%;
    }
    /*about page*/
    main #about_us .info_row p
    {
        line-height: 22px;
    }
}
