body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #161616;
}
h2,h3,h4,h5,h6{
  font-family: 'Cormorant Garamond', serif;
}
h1{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 2px;
}
p{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
button:focus{
    box-shadow: none !important;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background: #888;
  }
header{
    height: 90vh;
}
header nav ul{
  margin-left: auto;
}
header nav ul li{
  margin: 10px;
}
header nav ul li a{
  text-decoration: none;
  color: #e9e0bb;
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}
header nav ul li a:hover{
  color: #e9e0bb;
}
/* Outline In */
.hvr-outline-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-outline-in:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #e9e0bb solid 1px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-in:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}
.slideshow {
  position: absolute;
  z-index: 1;
  top: 110px;
  left: 0;
  width: 100vw;
  height: 75vh;
  overflow: hidden;
  background: black;
}
.slideshow .slider {
  width: 100vw;
  height: 100vw;
  z-index: 2;
}
.slideshow .slider * {
  outline: none;
}
.slideshow .slider .item {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  border: none;
  opacity: 0.6;
  
}
.slideshow .slider .item .text {
  display: none;
}
.slideshow .slider .item img {
  min-width: 101%;
  min-height: 101%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.slideshow .slick-dots {
  position: absolute;
  z-index: 100;
  width: 40px;
  height: auto;
  bottom: auto;
  top: 15%;
  right: 0;
  /* transform: translateY(-50%); */
  left: auto;
  color: #fff;
  display: block;
}
.slideshow .slick-dots li {
  display: block;
  width: 100%;
  height: auto;
}
.slideshow .slick-dots li button {
  position: relative;
  width: 20px;
  height: 15px;
  text-align: center;
}
.slideshow .slick-dots li button:before {
  content: "";
  background: #fff;
  color: #fff;
  height: 2px;
  width: 20px;
  border-radius: 0;
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}
.slideshow .slick-dots li.slick-active button:before {
  width: 40px;
  opacity: 1;
}
.slideshow.slideshow-right {
  left: 0;
  z-index: 1;
  width: 50vw;
  pointer-events: none;
}
.slideshow.slideshow-right .slider {
  left: 0;
  position: absolute;
}

.slideshow-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 80px;
  width: 100vw;
  text-align: center;
  color: #e9e0bb;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bolder;
  border-bottom: 1px solid #e9e0bb;
  width: 25%;
  pointer-events: none;
  text-transform: uppercase;
  letter-spacing: 20px;
  line-height: 0.8;
}
@media (max-width: 767px) {
  .slideshow-text {
    font-size: 40px;
  }
}

.the-most {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50vw;
  max-width: 200px;
  padding: 10px;
}
.the-most img {
  max-width: 100%;
}
main{
    padding: 3% 0;
}
#about .img_col .images{
    display: flex;
}
#about .img_col .images img{
    border: 15px solid #161616;
    border-radius: 30px;
    width: 100%;
}
#about .img_col .images .img1{
    display: flex;
    align-items: center;
    height: 100%;
}
#about .img_col .images .img1, .img2, .img3{
    border-radius: 30px;
}
#about .img_col .images .img2 img, #about .img_col .images  .img3 img{
    border-right: 0;
}

#about .img_col .images  .img3 img{
    width: 120%;
}
#about .text_col{
    text-align: right;
    margin: 10% 0;
}
#about .text_col h1{
    color: #e9e0bb;
    margin: 15px 0;
}
#about .text_col p{
    color: #b7b095;
}
#about .text_col p:first-child{
    text-transform: uppercase;
    color: #B7B095;
}
#about .text_col button{
    background: transparent;
    padding: 14px 60px;
    min-width: 120px;
    position: relative;
    cursor: pointer;
    color: #161616 ;
    transition: all .4s;
    z-index: 3;
}
#about .text_col button i{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#about .text_col button i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #e9e0bb;
}
#about .text_col button i::after{
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background: #e9e0bb;
}
#categories{
    margin: 5% 0;
}
.title_row p{
    color: #b7b095;
    text-transform: uppercase;
}
.title_row h1{
    color: #e9e0bb;
    text-transform: capitalize;
}
.title_row .icon{
  position: relative;
  color: #b7b095;
}
.title_row .icon i::before, .icon i::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    top: 6%;
    background-color: #b7b095; 
    opacity: 0.5;
}
.title_row .icon i::before{
  left: auto;
  right: -120px;
}
.title_row .icon i::after{
  right: auto;
  left: -120px;
}
#categories .categories_row{
  padding: 5% 0;
}
#categories .categories_row a{
  text-decoration: none;
  color: #b7b095;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}
#categories .categories_row img{
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10%;
  transition: all 1s ;
}
#categories .categories_row img:hover{
  transform: rotate(30deg);
}
/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #e9e0bb;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
#daily_offer{
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  height: 800px;
  background-size: cover;
  padding: 3% 0;
}

#daily_offer .offer_row .box-bord {
  margin-top: 5%;
  padding: 50px 50px;
  position: relative;
}
#daily_offer .offer_row .box-bord:after, #daily_offer .offer_row .box-bord:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 1px solid #b7b095;
  z-index: 3;
}
#daily_offer .offer_row .box-bord:before {
  top: 5px;
  left: -5px;
  right: -5px;
  bottom: 5px;
}
#daily_offer .offer_row .list:not(:last-child){
  margin-bottom: 30px;
}
#daily_offer .offer_row .list .box .combo{
  display: flex;
}
#daily_offer .offer_row .list .box .img {
  width: 80px;
  position: relative;
  z-index: 2;
}
#daily_offer .offer_row .list .box .img img{
  width: 100%;
  border-radius: 50%;
}
#daily_offer .offer_row .list .box .text {
  padding-left: 30px;
    width: 100%;
}
#daily_offer .offer_row .list .box .text h6{
  font-family: 'Cormorant Garamond', serif;
  color: #e9e0bb;
  white-space: nowrap;
  padding-right: 10px ;
  font-size: 20px;
}
#daily_offer .offer_row .list .box .flex h6, #daily_offer .offer_row .list .box .flex .dot-line, #daily_offer .offer_row .list .box .flex .price {
  display: table-cell;
}
#daily_offer .offer_row .list .box .flex .dot-line{
  width: 100%;
}
#daily_offer .offer_row .list .box .flex .dot-line .dots{
    height: 4px;
    width: 100%;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}
#daily_offer .offer_row .list .box .flex .price {
  padding-left: 20px;
    white-space: nowrap;
    color: #e9e0bb;
}
#daily_offer .offer_row .list .box .text p{
  font-size: 15px;
  color: #b7b095;
}

#reviews .image_col img{
  width: 100%;
}
#reviews .review_col{
  padding: 5% 0;
}

#reviews .review_col .carousel{
  margin-top: 10%;
}
#reviews .review_col .carousel .carousel-inner{
  width: 50% !important;
  margin: auto;
}
#reviews .review_col .carousel .carousel-indicators{
  position: unset !important;
  margin-top: 5%;
}
#reviews .review_col .carousel .carousel-inner .carousel-item img{
  border-radius: 50%;
  margin-bottom: 5%;
}
#reviews .review_col .carousel .carousel-inner .carousel-item .italic{
  font-style: italic;
  font-family: 'Cormorant';
  text-transform: capitalize;
}
#reviews .review_col .carousel .carousel-indicators [data-bs-target]{
  background-color: #e9e0bb;
}
#receipes{
  padding: 3% 0;
}
#receipes .recipe_row .card{
  background-color: transparent;
  border: 1px solid #e9e0bb;
  padding: 10px;
  border-radius: 0;
}
#receipes .recipe_row .card img{
  width: 100%;
}
#receipes .recipe_row .card .card-title{
  color: #e9e0bb;
  text-align: center;
  font-size: 35px;
}
#receipes .recipe_row .card .card-text{
  color: #B7B095;
  font-size: 20px;
}
#receipes .recipe_row .card .card-footer{
  display: flex;
}
#receipes .recipe_row .card .card-footer img{
  width: 100%;
}